.venv/
downloads/
embeddings/
scraped_data/
```
archive/canlii-decision.ipynb
archive/dataset
archive/dataset.json
archive/decathlon.ipynb
archive/hierarchy_splitter.py
archive/langchain_docs_qa.ipynb
archive/scraper.py
archive/structure.ipynb
archive/task_bot_1.ipynb
archive/task_bot_2.ipynb
archive/user_details1.ipynb
archive/user_details2.ipynb
archive/files/script.py
archive/structure/examples.py
archive/stuff/__init__.py
archive/stuff/entity_memory.py
.env
booking_bot_entity_examples.jsonl
*.jsonl